* {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}
/*
Font: Play
Author: Jonas Hecksher, Playtypes, e-types AS (lasse@e-types.com)
License: SIL Open Font License v1.1 – https://openfontlicense.org
Reserved Font Names: "Play", "Playtype", "Playtype Sans"
*/

@font-face {
    font-family: Play;
    src: url(../fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: PlayBold;
    src: url(../fonts/Play/Play-Bold.ttf);
}


:root {
    --navbar: #0B192C;
    --body: #3674B5;
    --orange: #FF6500;
    --text: #3674B5;
    --backgroudn: #04080f;
    --picorange: #FF6500;
    --textrgb: 30, 62, 98;
    --bodyrgb: 11, 25, 44;
    --text2: #1E3E62;
    --darkblue: #0B192C;
    --lessdarkblue: #0e1d33;
    --orangergb: 255, 101, 0;
}

body {
    background: var(--darkblue);
    overflow-x: hidden;
    font-family: Play;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hidden {
    opacity: 0;
    /*transform: rotate(-90deg);*/
    transform: translate(-20px);
}

.show {
    opacity: 1;
    /*transform: rotate(0deg);*/
    transform: translate(0px);
    transition: transform 0.8s, opacity 0.8s;
}



.main {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(var(--bodyrgb), 0.5) 0%, rgba(var(--bodyrgb), 1) 100%), url(../../pictures/biathlon.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

h1 {
    color: var(--orange);
    font-size: 4rem;
    font-family: PlayBold;
    text-align: center;
}

h2 {
    color: var(--text);
    font-size: 2.5rem;
}

.content {
    display: flex;
    flex-direction: row;
}

.content-conteiner {
    width: 50%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.offers {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offers-cont {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offers-cont svg {
    fill: var(--text);
    width: 2rem;
}

h3 {
    color: var(--orange);
    font-size: 3rem;
}

p {
    color: var(--text);
    font-size: 1.8rem;
    text-align: justify;
}

h4 {
    color: var(--text);
    font-size: 2rem;
    gap: 15px;
    font-weight: 100;
}
.offers-cont .show:nth-child(2) { transition-delay: 0.2s;}
.offers-cont .show:nth-child(3) { transition-delay: 0.4s;}
.offers-cont .show:nth-child(4) { transition-delay: 0.6s;}

.progress-container {
    width: 100%;
    background-color: var(--darkblue);
    border: 2px solid var(--orange);
    border-radius: 10px;

    box-shadow: none;
}

.progress-bar {
    width: 30%; 
    height: auto;
    background-color: var(--orange);
    border-radius: 8px;
    text-align: center;
    color: var(--backgroudn);
    line-height: 30px;
    font-family: PlayBold;
}





.content-conteiner img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    box-shadow: -25px -25px 0px 0px rgba(var(--textrgb),1);
    -webkit-box-shadow: -25px -25px 0px 0px rgba(var(--textrgb),1);
    -moz-box-shadow: -25px -25px 0px 0px rgba(var(--textrgb),1);
}

.buttons-conteiner {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}
.buttons-conteiner button {
    border: none;
    width: auto;
    background: none;
    cursor: pointer;
}

.buttons-conteiner button:nth-child(1) {
    margin-left: 15px;
}

.buttons-conteiner button:nth-child(2) {
    margin-right: 15px;
}

.buttons-conteiner button svg {
    width: 55px;
    fill: rgba(var(--textrgb),0.5);
}

.buttons-conteiner button svg:hover {
    fill: rgba(var(--textrgb),1);
    transition: fill 0.1s;
}

.dalsiprojekty {
    background: 
    repeating-linear-gradient(90deg, #0e1f36 0px, #0e1f36 1px, transparent 2px, transparent 8px),
    repeating-linear-gradient(0deg, #0e1f36 0px, #0e1f36 1px, transparent 2px, transparent 8px);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 5vh 0vh;
    background-color: var(--darkblue);
}

.buttonblue {
  align-items: center;
  background-color: var(--text);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--text2);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: bolder;
  justify-content: center;
  line-height: 20px;
  max-width: 70%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
  text-decoration: none;
}

.buttonblue:hover,
.buttonblue:focus { 
  background-color: var(--darkblue);
  color: var(--backgroudn);
}

.buttonblue:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.buttonblue:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

@media (min-width: 1024px) {
    h1 {
        font-size: clamp(3rem, 2.3333rem + 1.0417vw, 4rem);
    }

    h2 {
        font-size: clamp(1.6rem, 1rem + 0.9375vw, 2.5rem);
    }

    h3 {
        font-size: clamp(1.7rem, 1.1rem + 0.9375vw, 2.6rem);
    }

    p {
        font-size: clamp(1rem, 0.4667rem + 0.8333vw, 1.8rem);
    }

    h4 {
        font-size: clamp(1.3rem, 0.8333rem + 0.7292vw, 2rem);
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .offers-cont svg {
        width: 1.5rem;
    }
    .progress-bar {
        line-height: 20px;
    }
    h1 {
        font-size: clamp(3rem, 2.3333rem + 1.0417vw, 4rem);
    }

    h2 {
        font-size: clamp(1.6rem, 1rem + 0.9375vw, 2.5rem);
    }

    h3 {
        font-size: clamp(1.4rem, 0.5rem + 1.875vw, 1.7rem);
    }

    p {
        font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
    }

    h4 {
        font-size: clamp(1.1rem, 0.7rem + 0.625vw, 1.7rem);
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 50px;
        
    }
    .content-conteiner {
        width: 95%;
        height: auto;
        flex-direction: column;
        position: relative;
    }

    .content-conteiner:nth-child(1) {
        order: 2;
    }

    .content-conteiner:nth-child(1) {
        order: 1;
    }

    .imgforgalery-responzive-mobile {
        min-height: 400px;
    }
    .offers {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .offers-cont svg {
        width: 1.5rem;
    }
    .progress-bar {
        line-height: 20px;
    }
    h1 {
        font-size: clamp(3rem, 2.3333rem + 1.0417vw, 4rem);
    }

    h2 {
        font-size: clamp(1.6rem, 1rem + 0.9375vw, 2.5rem);
        width: 90%;
        text-align: center;
    }

    h3 {
        font-size: clamp(1.4rem, 0.5rem + 1.875vw, 1.7rem);
    }

    p {
        font-size: clamp(0.9rem, 0.6rem + 0.625vw, 1rem);
    }

    h4 {
        font-size: clamp(1.1rem, 0.7rem + 0.625vw, 1.7rem);
    }
}